<div class="card">
  <div class="card-header bg-primary text-white">
    My product's list
  </div>
  <div class="card-block">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Product
            </th>
            <th>
              Price
            </th>
            <th>
              Available
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí van los productos. Por ahora se queda vacío -->
        </tbody>
      </table>
    </div>
  </div>
</div>