#circulo, #cuadrado, #triangulo, #divDestino, #divCirculo, #divTriangulo, #divCuadrado{
    float: left;
    width: 90px;
    height: 90px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}